<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--        <property name="connection.url">jdbc:mysql://localhost:3306/{DATABASE_NAME}</property>-->
        <!--        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--        <property name="connection.username">{DATABASE_USER}</property>-->
        <!--        <property name="connection.password">{DATABASE_PASSWORD}</property>-->

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!--        TODO: add rows of entities like: <mapping class="com.thunderscore.entity.ClassExample"/>  -->
        <mapping class="com.entity.categories.Categories" />
        <mapping class="com.entity.categories.Category" />

    </session-factory>

</hibernate-configuration>