files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEpAIBAAKCAQEA0X9JsxtcdrF6CSIV4WUMT9SQYjMwAGCfrwfa/1dwkKbGIMSK
      PEUZThvw+Tbh0ZUEKwjM/zm+qinvSlvnIQDikrY02R7CXYeTIyjo9Th0oFLZTif3
      L5Rj3Nja7m2iKMGx1YcbGlQ+rhA4OOAyJSj87/BqbOwrPBbPXTNP7k+qL7A1dGMi
      YX6Tp4ad3DK2Zsdjyeh1jwBBRVCv5plL3v89f+XFgGu9FtLudlFtQwKUsQ6k59WD
      7ojbqAeXQXDNH3eVwUaEWtoCL/Z9g4K1RL0GJqmiVmav4/FEOyN7QFZMv4/3bB1a
      HG6JOwo6gt1Y3qeJlyNcjV/nxJN1rnNtnvmLKwIDAQABAoIBAG227dABGlGG7NRv
      p2ndU69TMTJcgF0SPU6bHJPxJSB8VvK+O28I+RGxDGhX17e9BOvMth9MDJBtWcZl
      jwv3vLD8/3xd4Yi+Ac6+FBKouFtmSCvoPkoKuqnkX/PSMsSJfCrJkOYfDJx4Hhmb
      QGe5qY23KOVWYeYcRAkZYFj8G7LQ8Epdj8lnKRg/uAGuL6kM9RsUj6inVc67WZGg
      bh5WGDiO5zsPVatKe9/Z3P2DupD3Du6EhVHvTjRmbKZ8RKMLVvJh9f2gMBrURJAa
      Nd5jol/euN5sybC7hWKtuBt95YrY3j81QMhoo3x8wmld59pb1wzzkCKNA37a+yd3
      HCIgjqECgYEA+c6RUO+czigvMH9cbEJ5lqlD9Y05fcWJFTIsCUZ3hHHMPSVY2J/N
      rawpaQNX+a/JO00Sf3zleZKkVjdidD2dV+i/tGQq8ptp7P6j2zTTfYuCmklzUT72
      S4erczv32k3Dew19aU1rjcndNyiDtxkZElp95jnObhSuV0/RLUIZMqkCgYEA1rDj
      t9MAxDQ5wRlsWaHFUcn5YBbY9aqVnQZPKI8ZxsJqJgyl5kAXzUQFCykAVgVkJLft
      /vsN0Zv76ZIoKT2gG6RWmJe/SwyHMuD7CAD0ImE8AABgsxTStUmEJ0Z0ISNrPr6j
      SEIAGpiwybm7BPyAB612kXm7026Y63PnfJsEh7MCgYBAIL89P8XJRpeWo5teT1JX
      UuyXRMHVf7hJMLANUYGtBmmf6M5+DcgHJYMb6jfTaUUHbCmrgKyIIRT+7QjhPk/+
      GUndTTmZPjxbEqONymngeMf2Q5TO7pLboOBqnKJr8DqWhEgFmFJb+85GMqhdgJvn
      EkPvrjdIGxcGYv8X1zgQwQKBgQCicNbr+LAkxGtKiuTrcLZu6wZPyRnBz59CX0q3
      oobbV7CfN4SzEZ2wxx2V0yEY9R1PlwdxnR1YktBpaxgOFD23jIGlFXQ84a7ONWJb
      LPWLqcyPJ7oC5eeEGarvWKR3imgT4oSDIMUZWpyxFWHHJRHuPTZwXg5arNzxkhH9
      uwETdwKBgQDYPI5ekAOOQuleUqUKtf3Oi2/NAtBPAnmUVLkWfrhlqvvPhdcKimA7
      m57w9GOEW0eRv5ZHg8ewIslTKrFpGWlos1jteJC6o6jrGiq5Ym/bMvZwiQF6s/dh
      SOUMv0Tu9Bq1+LChVMUZMqDeoUDCU/++/DCivNN05bZe2qROEy6Tnw==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA0X9JsxtcdrF6CSIV4WUMT9SQYjMwAGCfrwfa/1dwkKbGIMSK
      PEUZThvw+Tbh0ZUEKwjM/zm+qinvSlvnIQDikrY02R7CXYeTIyjo9Th0oFLZTif3
      L5Rj3Nja7m2iKMGx1YcbGlQ+rhA4OOAyJSj87/BqbOwrPBbPXTNP7k+qL7A1dGMi
      YX6Tp4ad3DK2Zsdjyeh1jwBBRVCv5plL3v89f+XFgGu9FtLudlFtQwKUsQ6k59WD
      7ojbqAeXQXDNH3eVwUaEWtoCL/Z9g4K1RL0GJqmiVmav4/FEOyN7QFZMv4/3bB1a
      HG6JOwo6gt1Y3qeJlyNcjV/nxJN1rnNtnvmLKwIDAQABAoIBAG227dABGlGG7NRv
      p2ndU69TMTJcgF0SPU6bHJPxJSB8VvK+O28I+RGxDGhX17e9BOvMth9MDJBtWcZl
      jwv3vLD8/3xd4Yi+Ac6+FBKouFtmSCvoPkoKuqnkX/PSMsSJfCrJkOYfDJx4Hhmb
      QGe5qY23KOVWYeYcRAkZYFj8G7LQ8Epdj8lnKRg/uAGuL6kM9RsUj6inVc67WZGg
      bh5WGDiO5zsPVatKe9/Z3P2DupD3Du6EhVHvTjRmbKZ8RKMLVvJh9f2gMBrURJAa
      Nd5jol/euN5sybC7hWKtuBt95YrY3j81QMhoo3x8wmld59pb1wzzkCKNA37a+yd3
      HCIgjqECgYEA+c6RUO+czigvMH9cbEJ5lqlD9Y05fcWJFTIsCUZ3hHHMPSVY2J/N
      rawpaQNX+a/JO00Sf3zleZKkVjdidD2dV+i/tGQq8ptp7P6j2zTTfYuCmklzUT72
      S4erczv32k3Dew19aU1rjcndNyiDtxkZElp95jnObhSuV0/RLUIZMqkCgYEA1rDj
      t9MAxDQ5wRlsWaHFUcn5YBbY9aqVnQZPKI8ZxsJqJgyl5kAXzUQFCykAVgVkJLft
      /vsN0Zv76ZIoKT2gG6RWmJe/SwyHMuD7CAD0ImE8AABgsxTStUmEJ0Z0ISNrPr6j
      SEIAGpiwybm7BPyAB612kXm7026Y63PnfJsEh7MCgYBAIL89P8XJRpeWo5teT1JX
      UuyXRMHVf7hJMLANUYGtBmmf6M5+DcgHJYMb6jfTaUUHbCmrgKyIIRT+7QjhPk/+
      GUndTTmZPjxbEqONymngeMf2Q5TO7pLboOBqnKJr8DqWhEgFmFJb+85GMqhdgJvn
      EkPvrjdIGxcGYv8X1zgQwQKBgQCicNbr+LAkxGtKiuTrcLZu6wZPyRnBz59CX0q3
      oobbV7CfN4SzEZ2wxx2V0yEY9R1PlwdxnR1YktBpaxgOFD23jIGlFXQ84a7ONWJb
      LPWLqcyPJ7oC5eeEGarvWKR3imgT4oSDIMUZWpyxFWHHJRHuPTZwXg5arNzxkhH9
      uwETdwKBgQDYPI5ekAOOQuleUqUKtf3Oi2/NAtBPAnmUVLkWfrhlqvvPhdcKimA7
      m57w9GOEW0eRv5ZHg8ewIslTKrFpGWlos1jteJC6o6jrGiq5Ym/bMvZwiQF6s/dh
      SOUMv0Tu9Bq1+LChVMUZMqDeoUDCU/++/DCivNN05bZe2qROEy6Tnw==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart