files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDfTCCAi8CFFPB1FLe7sgWNDPXAJ0dOhUNxIc+MA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjExMTE3MDM1NjAxWhcNMjIxMTE3MDM1
      NjAxWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBWDANBgkqhkiG9w0BAQEFAAOC
      AUUAMIIBQAKCATcAqbhsrcu/nVEPPvp2khj+OFO544/gUZTUjEpz0TnNNXtbhpI0
      hy1j1xOtsFk7q7t2AqE1AAZO032aIk787bUJX1e0fuRxG2W2iC79vkf8KJtP50IR
      FhYejA+6h3KKWuxIQpp1+FWkYfKudUMOuA3o6IN0ZRCNjDeUUG8i+50D/ws9XMsh
      u0tzQj+Mb7DFQ6HxQuxfWeEh+T6Mc2rZn5yABTsA87O1kSl4MLWhaAioXFjzMx46
      E0NIXKItvvXScIFPl9j/LlWlC5IjSgbkJdFL03yinRL/E3K2Meqc7J2iAfvTkPbb
      z5JrQQcRGjYX/9k119fl+8sMlxChDQbRq01AwlWtkRyv+pfv/3QreE2P33yJbHL+
      qpdbvJx31sWWRq9KMmNXwbEhEANUMYAvX5MY3i15tkqGpQIDAQABMA0GCSqGSIb3
      DQEBCwUAA4IBNwCms9w5EgWyeGu+poOBXC6d1zUR9D16tuBkvFkLXBLCj2lPGsd1
      ujW4wiGZrltvA85ecMz1NjZraLTndlvgDqE+2ZNrV5VcugdF/B/h83AnPwpvB1sb
      icbP8bTx/T+dFTcFUl5SBZ5OwyOXxRWA8V0bubGmjt8+iGrCpJoLJjty+vaS3P3l
      K03WHuurvzW8N/V0Qae6fg3K5ufc8eEMRrFJboIN1lYzEp+Xhfg9t+1DSVFViEcx
      I2mWCpjqnc+kxG2esh0sOgSI0fAtWiQscKQ23VKrVoqgUTX/zfYvuFOVkt/xDJFC
      affhTa9D4p6hEsWwPDh/eOwYv+HWpmQBSM5kZLN/QpZYdzhnRHgcSiVw52tlS4A5
      wDbGSaQeb5YFEXz6KBA5WVdg8qQdhX1Nm5x4NFliWwmd
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIFlwIBAAKCATcAqbhsrcu/nVEPPvp2khj+OFO544/gUZTUjEpz0TnNNXtbhpI0
      hy1j1xOtsFk7q7t2AqE1AAZO032aIk787bUJX1e0fuRxG2W2iC79vkf8KJtP50IR
      FhYejA+6h3KKWuxIQpp1+FWkYfKudUMOuA3o6IN0ZRCNjDeUUG8i+50D/ws9XMsh
      u0tzQj+Mb7DFQ6HxQuxfWeEh+T6Mc2rZn5yABTsA87O1kSl4MLWhaAioXFjzMx46
      E0NIXKItvvXScIFPl9j/LlWlC5IjSgbkJdFL03yinRL/E3K2Meqc7J2iAfvTkPbb
      z5JrQQcRGjYX/9k119fl+8sMlxChDQbRq01AwlWtkRyv+pfv/3QreE2P33yJbHL+
      qpdbvJx31sWWRq9KMmNXwbEhEANUMYAvX5MY3i15tkqGpQIDAQABAoIBNmHbRzZS
      AxJWuX6rdRA5vuKFS+nse/8t2/tjtjGNrUdH7/bAd+70+dr5qqzCVohnFtzfTCrO
      eEay5dsgRe9c8aF6dUSwvJJ6a+tLhNxgrwBOxJxnWGiuqkBBlWAhZ6qTD/rvClP8
      NUKQZYyQ9Hyk8ISXvtXC3IpbRXW3Dqma18IHHgNR0Aoor7Uj5PpFJwge6HeYyEWP
      bEJEkUC+Cvc2vy8AptqLlG/NE9zEWPHl9YWHcEHjcY8vmd7LIzSa8L8Ebs8SpSxD
      SRNuQ93YlewIy2XBd7kUZSfejCh5sAc5G/X42oEYOZjyhS5rQbVHTOr/S4a60mvf
      tdjftgE5IAG0HQs7nbX7OUlKopN5XylJgA4aYU7hcunX+W6B1Gf9nPff49FIlM7h
      J6DdVuaj0mZe28LmM8WY4qECgZwA33A5BZUosQ8YZ/inW4ExfxGksHzBcGMV8GGE
      dcOLMN5+428pKHVZexKovJB0d0mTBx+DWSFljAfqkqWu5LytaQqjaGfxc7dUIrTp
      BC+PyXIKXxAQOwFyCQjYd0C1ibYGylLq0SHSDrvLSgmxeqXpMXiPtmqKwmBrE8R8
      B6sufpyncwTYURP4++hcLhCq5LA744pD27tiewKE6wkCgZwAwnQnqSUi6wqvWZPr
      ECIHill8u/CoamTbVzgoHBTu8toRc4VdLlOBCelO7q6KjgJHWromk571gkxsNDkc
      8NNBFocuL8VaamfY/4pujkER0cPDukarsFI0j8ypho638Nv9J5S72FKbJlbP77lH
      jlPp0dcWlWuGRZ5/UX6ke5GbewbmZRI764OInwuUtdkKdYHwelkLSViEemQ0Ob0C
      gZwAgsTXWqEVk6rWCePJbxCJu2jEDla1j+Ut7eXk9Fdhm1RcxxdD613i5Nji0Jlq
      0HXLCxwyb3PQTshDTViSp2SVyShkwrIy6hqdr0JaLgz4BlosH77zANWzu/3lUsYY
      eWSDTN6Cd6tnmR/ntok9yh5YAJAi7Awm8eQkRwlz3bkeGRPuHK71O16JFkXDzWIL
      4pQSOPWvCWb+GCg9SqECgZtto8CZBm9hx2yHPXfUaNuHjl1eOps7IhLqYqd67fKs
      y3f7gr6/WCXxyLLQsWk+GNrStRL7OS2EgkKgT3OZ9gNFCINqPAR26obXzt33J4k8
      lPzPEvnLOQ6Z5fPQAriD/gYHQz2HA0ynmVs092r5PSchQf1h0naq2ms/MADeC4N3
      IrTVWCqg6FEoHAeFYRMcnl9RHNPYTyijOcyYoQKBnACfytor+ez6syZqMTFVoPhM
      YCRWgJHONVLzf2h1mLVUsMLtiIhSEcnr9Zm/N/O65t/8MBXbJREBXsgZKpiKKZUv
      24BUsBZMAL8xLvVyRGWgZyOgM7BQFk5VxQIHqo0n3BnY6dVsYKFPoEGqczXRftkk
      v5vJ3mFuwTFMu16Vj91ClFTjedFFsMD1ekxkXBAvpouOrcPJs/VMS11QBw==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart